

body { /* Vai definir a imagem de background, fonte e centralização da pág. toda */ 

        background-image: url('imgs/fundo.png');
        font: 16px, "Lucida Console", Monaco, monospace; 
        margin: 0;
}

#principal {
    
   width: 900px;
   margin: auto;

}

#menu {
    background: #c5c5b2;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#menu a {
    
    text-decoration: none;
    color: rgb(70, 58, 49);
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;    
}

#conteudo {
    background: #fafaf4;
    padding: 10px;
    
}

#conteudo h2 {
    color: rgb(121, 110, 50);
    font: normal 18px monospace;
    font-weight: bold;
}

#conteudo img  { 
    border: 10px double rgb(149, 151, 35) ;
    margin-left: 100px;
    
}

.contato {
    text-align: center;
    padding: 20px;
}

#direitos {
    font-weight: bold;
    background: #c5c5b2;
    text-align: center;
    padding: 2px;
    
}
